/*
Responsive CSS3 Data Grids v1.0 (06.2012)
Copyright 2012 QuanticaLabs
www.quanticalabs.com
*/

/* ==================== TABLE ROW HOVER ==================== */
	
/* --- Row Hover --- */
table.qlabs_grid_container tbody.data_container tr.data_even:hover,
table.qlabs_grid_container tbody.data_container tr.data_odd:hover
	{
	background: #eaeaea;
	color: #000000;
	text-shadow: 0px 1px 0px rgba(255,255,255,0.5);
	}
	
/* --- Cell Hover --- */	
table.qlabs_grid_container tbody.data_container tr.data_even:hover td.data_cell,
table.qlabs_grid_container tbody.data_container tr.data_odd:hover td.data_cell
	{
	border-left: 1px solid #d4d4d4;
	}

/* --- Label, Button, Tooltip Button - Hover And Highlight --- */
table.qlabs_grid_container tbody.data_container tr.data_even:hover td.data_cell label,
table.qlabs_grid_container tbody.data_container tr.data_odd:hover td.data_cell label,
table.qlabs_grid_container tbody.data_container tr.highlighted td.data_cell label,
table.qlabs_grid_container tbody.data_container tr.data_even td.data_cell.highlighted label,
table.qlabs_grid_container tbody.data_container tr.data_odd td.data_cell.highlighted label,
table.qlabs_grid_container tbody.data_container tr.data_even:hover td.data_cell div.grid_button,
table.qlabs_grid_container tbody.data_container tr.data_odd:hover td.data_cell div.grid_button,
table.qlabs_grid_container tbody.data_container tr.highlighted td.data_cell div.grid_button,
table.qlabs_grid_container tbody.data_container tr.data_even td.data_cell.highlighted div.grid_button,
table.qlabs_grid_container tbody.data_container tr.data_odd td.data_cell.highlighted div.grid_button,
table.qlabs_grid_container tbody.data_container tr.subheader_row td.subheader_cell div.qlabs_tooltip:hover,
table.qlabs_grid_container tbody.data_container tr.data_even:hover td.data_cell div.qlabs_tooltip,
table.qlabs_grid_container tbody.data_container tr.data_odd:hover td.data_cell div.qlabs_tooltip,
table.qlabs_grid_container tbody.data_container tr.highlighted td.data_cell div.qlabs_tooltip,
table.qlabs_grid_container tbody.data_container tr.data_even td.data_cell.highlighted div.qlabs_tooltip,
table.qlabs_grid_container tbody.data_container tr.data_odd td.data_cell.highlighted div.qlabs_tooltip
	{
	background: #4e4e4e; /* Old browsers */
	background: -moz-linear-gradient(top,  #4e4e4e 0%, #343434 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4e4e4e), color-stop(100%,#343434)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #4e4e4e 0%,#343434 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #4e4e4e 0%,#343434 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #4e4e4e 0%,#343434 100%); /* IE10+ */
	background: linear-gradient(top,  #4e4e4e 0%,#343434 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4e4e4e', endColorstr='#343434',GradientType=0 ); /* IE6-9 */
	border: 1px solid #343434;
	}

/* ==================== HIGHLIGHTS ==================== */

/* --- Row And Cell Highlights --- */
table.qlabs_grid_container tbody.data_container tr.highlighted,
table.qlabs_grid_container tbody.data_container tr.data_even td.data_cell.highlighted,
table.qlabs_grid_container tbody.data_container tr.data_odd td.data_cell.highlighted
	{
	background: #696969;
	color: #ffffff;
	text-shadow: 0px 1px 0px rgba(0,0,0,0.5);
	}
	
/* --- Cell Highlight --- */	
table.qlabs_grid_container tbody.data_container tr.highlighted td.data_cell
	{
	border-left: 1px solid #5f5f5f;
	}