/*
Responsive CSS3 Data Grids v1.0 (06.2012)
Copyright 2012 QuanticaLabs
www.quanticalabs.com
*/

body
	{
	padding: 0px;
	margin: 0px;
	font-family: arial, sans-serif;
	font-size: 13px;
	color: #555555;
	line-height: 150%;
	background: #ffffff;
	}
	
div.page_container
	{
	width: 960px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	}
	
h1
	{
	margin: 40px 0px 45px 0px;
	font-family: georgia, serif !important;
	font-size: 36px;
	font-weight: normal;
	font-style: italic;
	color: #000000;
	line-height: normal;
	}
	
/* ==================== RESPONSIVE LAYOUT ==================== */
/* --- Smaller than standard 960 --- */
@media only screen and (max-width: 960px),
(min-device-width: 768px) and (max-device-width: 959px)
	{
	div.page_container
		{
		width: 768px; /* --- Overall Page Width --- */
		}
	}

/* --- Mobile Devices 480 - 768px --- */
@media only screen and (max-width: 768px),
(min-device-width: 480px) and (max-device-width: 767px)
	{
	div.page_container
		{
		width: 480px; /* --- Overall Page Width --- */
		}
	}
	
/* --- Mobile Devices Up To 480px --- */
@media only screen and (max-width: 480px),
(min-device-width: 0px) and (max-device-width: 479px)
	{
	div.page_container
		{
		width: 360px; /* --- Overall Page Width --- */
		}
	}